/* landing page */
body {
  height: 100vh;
}

#landing  {
  background-image: url("../images/casual-diversity-female-1600w.jpeg");
  background-repeat: no-repeat;
  background-position: 50% 0%; /* centers image horizontally*/
  color: #111111;
}

.faded {
  background-color: rgba(250, 250, 250, 0.7);
  border-radius: .25rem;
  padding-top: 1.5rem;
}
